* {
    margin: 0;
    padding: 0;
}
html {
    background-color: #eefbf8;
    background-image: radial-gradient(circle, hsla(0,0%,100%,.1), hsla(0,0%,0%,.75)),
                      linear-gradient(left, transparent 50%, hsla(0,0%,0%,.01) 50%);
    background-position: 50% 75%, 50% 50%;
    background-repeat: no-repeat, repeat;
    background-size: 150% 150%, 3em 3em;
    font-size: 100%;
    min-height: 100%;
}

#demos {
  border-radius: 8px;
  height: 500px;
  width: 70%;
  margin: 0 auto;
  margin-top: 40px;
}
